<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:="http://www.w3.org/1999/xhtml" class="agent-pc theme-w theme-wyellow"
      layout:decorate="~{layouts/layout3}">

<head th:replace="fragments/header2::header">
    <title>Blog 페이지</title>
</head>

<div layout:fragment="content">

    <div class="hero-wrap hero-bread" style="background-image: url('/images/eum_blog2.jpg');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">

                <div class="text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/"></a></span> <span><b>오늘의 공지사항</b></span></p>
                    <h1 class="mb-0 bread"><b>today's band</b></h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-5 wrap-about pb-md-5 text-center" th:utext="${content}">

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3" th:each="d: ${data}">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" th:src="${d}" alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <div class="d-flex">
                                <div class="pricing">
                                    <!--                                    <p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale" th:text="${item.price}"><span class="price-sale">원</span></span></p>-->
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




</html>