<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:="http://www.w3.org/1999/xhtml" class="agent-pc theme-w theme-wyellow"
      layout:decorate="~{layouts/layout2}">

<head th:replace="fragments/header::header">
    <title>로그인 페이지</title>
</head>

<div layout:fragment="content">
    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="w-100"></div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>주소보기:</span> <a href="/contact">대구광역시 수성구 사월동 642</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>전화하기:</span> <a href="tel://01065632521"> 010-6563-2521</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>메일보내기:</span> <a href="mailto:alswp25@gmail.com"> alswp25@gmail.com</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>사이트이동:</span> <a href="http://www.eumfruit.shop"> www.eumfruit.shop</a></p>
                    </div>
                </div>
            </div>
            <div class ="row justify-content-center">
            <div class ="col-xl-5">
                <div class="cart-detail p-1 p-md-1">
                    <form action="/members/login" role="form" method="post" class="bg-white p-5 contact-form">
<!--                        <h1 class ="mb-4 billing-heading"><b>로그인</b></h1>-->
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="email" class="form-control" name="email" placeholder="아이디를 입력하세요.">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="비밀번호를 입력하세요.">
                        </div>
                        <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
                        <div class="form-group">
                            <input type="submit" value="로그인" class="btn btn-primary py-3 px-5">
                        </div>
                        <div class="form-group">
                            <input value="회원가입" type="button" class="btn btn-primary py-3 px-5" onClick="location.href='/members/new'">
                        </div>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    </form>
                </div>
            </div>
            </div>
        </div>
    </section>

<!--    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg>-->
<!--        <script src="js/jquery.min.js"></script>-->
<!--        <script src="js/jquery-migrate-3.0.1.min.js"></script>-->
<!--        <script src="js/popper.min.js"></script>-->
<!--        <script src="js/bootstrap.min.js"></script>-->
<!--        <script src="js/jquery.easing.1.3.js"></script>-->
<!--        <script src="js/jquery.waypoints.min.js"></script>-->
<!--        <script src="js/jquery.stellar.min.js"></script>-->
<!--        <script src="js/owl.carousel.min.js"></script>-->
<!--        <script src="js/jquery.magnific-popup.min.js"></script>-->
<!--        <script src="js/aos.js"></script>-->
<!--        <script src="js/jquery.animateNumber.min.js"></script>-->
<!--        <script src="js/bootstrap-datepicker.js"></script>-->
<!--        <script src="js/scrollax.min.js"></script>-->
<!--        <script src="js/main.js"></script>-->
<!--    </div>-->

</div>

</html>