<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:="http://www.w3.org/1999/xhtml" class="agent-pc theme-w theme-wyellow"
      layout:decorate="~{layouts/layout2}">

<head th:replace="fragments/header::header">
    <title>로그인 페이지</title>
</head>

<div layout:fragment="content">
    <div class="npagePage pageEditor" id="page_contact">
<div class="mpageEditor module">
    <div class="module_container">
        <div class="container_header wow"> <p class="title">로그인</p>
            <p class="subtitle">Login</p>
        </div>
        <div class="container_content" style="text-align: center">
            <div class="content_wrapper">
                <div class="postbody">
                    <div id="mcontact" class="module" style=" ">
                        <div class="module_container">
                            <div class="container_content">
                                <div class="content_wrapper">
                                    <div id="contactlist">
                                        <div id="contactinfo" class="wow" style="margin-left:20%;">
                                            <p class="ellipsis">
                                                주소：대구광역시 수성구 xx길 xx</p>
                                            <p class="ellipsis">
                                                우편번호：xxx-xx</p>
                                            <p class="ellipsis">
                                                휴대전화：010-8456-2521</p>
                                            <p class="ellipsis">
                                                이메일：alswp25@gmail.com</p>

                                            <div> <a class="fl" target="_blank" href="http://www.naver.com"> <i class="fa fa-weibo"></i> </a> <a class="fl" target="_blank" href="/"> <i class="fa fa-qq"></i> </a> <a id="mpbtn" class="fl" target="_blank"> <i class="fa fa-weixin"></i> </a> </div>
                                        </div>
                                        <div id="contactform" class="wow">
                                            <form role="form" action="/members/login" method="post">
                                                <p>
                                                    <input type="email" class="inputtxt" name="email" placeholder="이메일을 입력하세요." autocomplete="off" />
                                                </p>
                                                <p>
                                                    <input type="password" class="inputtxt" name="password" placeholder="비밀번호를 입력하세요." autocomplete="off">
                                                </p>
                                                <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
                                                <p>
                                                    <input class="inputtxt submit bookadd" type="submit" value="로그인" />
                                                </p>
                                                <p>
                                                    <input class="inputtxt submit bookadd" type="button" onClick="location.href='/members/new'" value="회원가입" />
                                                </p>
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                            </form>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</html>