<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:="http://www.w3.org/1999/xhtml" class="agent-pc theme-w theme-wyellow"
      layout:decorate="~{layouts/layout2}">

<head th:replace="fragments/header::header">
    <title>로그인 페이지</title>
</head>

<div layout:fragment="content">
    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="w-100"></div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Website</span> <a href="#">yoursite.com</a></p>
                    </div>
                </div>
            </div>
            <div class ="row justify-content-center">
            <div class ="col-xl-5">
                <div class="cart-detail p-1 p-md-1">
                    <form action="/members/login" role="form" method="post" class="bg-white p-5 contact-form">
<!--                        <h1 class ="mb-4 billing-heading"><b>로그인</b></h1>-->
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="email" class="form-control" name="email" placeholder="아이디를 입력하세요.">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="비밀번호를 입력하세요.">
                        </div>
                        <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
                        <div class="form-group">
                            <input type="submit" value="로그인" class="btn btn-primary py-3 px-5">
                        </div>
                        <div class="form-group">
                            <input value="회원가입" type="button" class="btn btn-primary py-3 px-5" onClick="location.href='/members/new'">
                        </div>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    </form>
                </div>
            </div>
            </div>
        </div>
    </section>
</div>

</html>