<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:="http://www.w3.org/1999/xhtml" class="agent-pc theme-w theme-wyellow">

<div th:fragment="fragment-nav">
  <div id="header">
        <div class="wrapper">
          <div class="content">
            <div id="headTop"> <a href="/" id="logo"> <img src="picture/logo.png" height="44" /></a>
              <div id="hcontact" class="fr"> <i class="fa fa-phone"></i>
                <p>400-6501-*** <br />
                  <a href="mailto:admin@admin.com">admin@admin.com</a></p>
              </div>
              <div id="openBtn" class="fl btn">
                <div class="lcbody">
                  <div class="lcitem top">
                    <div class="rect top"></div>
                  </div>
                  <div class="lcitem bottom">
                    <div class="rect bottom"></div>
                  </div>
                </div>
              </div>
            </div>

            <div id="navWrapper">
              <div class="content">
                <p class="search_but" style="display:none"> <i class="fa fa-search" aria-hidden="true"></i> </p>
                <ul class="nav movedx" data-movedx-mid="1">
                  <li class="navitem"><a   href="index.html" target="_self"> <span data-title="제품">제품</span></a></li>
                  <li class="navitem"> <a class='' href="news.html"><span data-title="소식">소식</span>  <i class="fa fa-angle-down"></i>  </a>
                    <ul class="subnav">
                      <li><a href="news.html" target="_self">회사뉴스</a></li>
                      <li><a href="news.html" target="_self">산업정보</a></li>
                    </ul>
                  </li>

                  <li class="navitem"> <a class='active' href="prolist.html"><span data-title="제품센터">제품센터</span>  <i class="fa fa-angle-down"></i> </a>
                    <ul class="subnav">
                      <li><a href="prolist.html" target="_self">제품센터1</a></li>
                      <li><a href="prolist.html" target="_self">제품센터2</a></li>
                      <li><a href="prolist.html" target="_self">제품센터3</a></li>
                      <li><a href="prolist.html" target="_self">제품센터4</a></li>
                      <li><a href="prolist.html" target="_self">제품센터5</a></li>
                    </ul>
                  </li>

                  <li class="navitem"> <a class='' href="activity.html"><span data-title="이벤트">이벤트</span>  <i class="fa fa-angle-down"></i> </a>
                    <ul class="subnav">
                      <li><a href="activity.html" target="_self">제품케이스</a></li>
                      <li><a href="activity.html" target="_self">고객사례</a></li>
                    </ul>
                  </li>

                  <li class="navitem"> <a class=''  href="contact.html"><span data-title="联系方式">About</span>  </a>
                    <ul class="subnav">
                      <li><a href="Customized.html" target="_self">About us</a></li>
                      <li><a href="Customized.html" target="_self">Private custom</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>

        <div class="clear"></div>
        <div id="search" style="display:none">
          <div class="s_content">
            <form action="/plus/search.php" method="get" onsubmit="return checksearch(this)">
              <div class="s_wrapper">
                <p class="s_submit"> <i class="fa fa-search" aria-hidden="true"></i> </p>
                <input name="q" type="text" aria-label="搜索" placeholder="搜索" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false">
                <p class="s_close"> <i class="fa fa-times" aria-hidden="true"></i> </p>
              </div>
            </form>
          </div>
        </div>
  </div>
</div>