﻿@charset "utf-8";
/* CSS Document */
 
[title=uemo极速建站]{display:none !important;}
[title~=uemo]{display:none !important;}
[title^=uemo]{display:none !important;}

.qipapage {
	clear: both;
	margin: 20px;
	overflow: hidden;
	margin-left: 0px;
	text-align: center;
	font-size:12px
}
.qipapage ul li {
	display:inline-block;
	border: 1px solid #ccc;
	padding: 4px 12px;
	margin: 0 1px;
	line-height:24px;
	background: #fff;
	color:#999
}
.qipapage ul li:hover {
	background:#f5b834;
	color:#fff;
	border: 1px solid #f5b834
}
.qipapage ul li:hover a {
	color:#fff;
}
.qipapage ul li.thisclass {
	display: inline-block;
	border: 1px solid #f5b834;
	padding: 4px 12px;
	margin: 0 1px;
	background: #f5b834;
	color: #fff;
}
.qipapage ul li.thisclass a {
	color: #fff;
}
.qipapage ul li a {
	display:block;
	color:#999
}
.qipapage ul li a:hover {
	color: #fff;
}
